* {
  margin: 0;
}
body {
  background: url('../images/bg.jpg');
  background-position: 50% 90%;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Annie Use Your Telescope', serif;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 2px 2px 2px #aaa;
}
ul {
  margin: 0;
}
.page {
  margin: o;
/*  height: 100%;
  background: #FFFFFF;
  opacity: 0.50;
  filter: alpha(opacity=50);  IE Fix */
}
.content-wrapper {
  width: 950px;
  margin: 0 auto;
}
#header-wrapper {
  position: fixed;
  top: 30px;
}
#text1-index-wrapper {
  padding: 10px 20px;
  margin: 10px;
  float: left;
  width: 250px;
}
#text2-index-wrapper {
  padding: 10px 20px;
  margin: 10px;
  float: left;
  width: 250px;
}
img.logo {
  float: left;
}
.alpha60 {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.4);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.rounded-corners {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}