* {
  margin: 0;
}
body {
  background: url('../images/bg.jpg');
  background-position: 50% 90%;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Annie Use Your Telescope', serif;
  font-size: 16pt;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 2px 2px 2px #aaa;
}
#home {
  background: url('../images/home-bg.png') no-repeat;
  background-position: 40% 40%;
}
ul.nav {
  float: right;
  margin-top: 20px;
}
.page {
  margin: 0;
  min-height: 768px;
}
.content-wrapper {
  width: 950px;
  margin: 0 auto;
  position: relative;
}
#header-wrapper {
  width: 100%;
}
#menu {
  margin: 40px;
}
div.body-wrapper {
  clear: both;
}
#home-content {
  min-height: 500px; 
  width: 950px;
}
#text1-index-wrapper {
  padding: 10px 20px;
  margin: 10px;
  float: left;
  width: 300px;
  color: #222;
}
#text1-index-wrapper div {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  position: relative;
  font-weight: 600;
}
#portada-album-wrapper div {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  position: relative;
  font-weight: 600;
}
#portada-album-wrapper img {
  border: 0px;
}
#text2-index-wrapper {
  padding: 10px 20px;
  margin: 10px;
  width: 400px;
  float: none;
  margin-top: -170pt;
  margin-left: 350pt;
    color: #222;
}
#text2-index-wrapper div {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  position: relative;
  font-weight: 600;
}
p#text1-services {
  width: 300px;
  float: left;
}
ul#ul1-services {
  float: right;
}
img#imgservices {
  margin-top: 150pt;
  margin-left: -150pt;
  float: none;
  z-index: 99;
}
img#photoservices {
  margin-top: -300pt;
  margin-left: 470pt;
  float: none;
  z-index: 99;
}
#text1-services-wrapper {
  padding: 20px 20px;
  margin: 10px auto;
  float: left;
  width: 750px;
  color: #222;
/*  height: 300px;*/
}
#text1-services-wrapper div {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  position: relative;
  font-weight: 600;
}
#text2-services-wrapper {
  padding: 10px 20px;
  margin: 20px;
  margin-left: 220pt;
  float: left;
  width: 360px;
  color: #222;
}
#text2-services-wrapper div {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  position: relative;
  font-weight: 600;
}
#contact-content {
  min-height: 400px;
  width: 950px;
  position: relative;
}
.alpha60 {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter:alpha(opacity=40);
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.4);
}
.rounded-corners {
  border-radius: 0.5em 2em 0.5em 2em;
  -moz-border-radius: 0.5em 2em 0.5em 2em;
  -ms-border-radius:0.5em 2em 0.5em 2em;
  -webkit-border-radius:0.5em 2em 0.5em 2em;
  -khtml-border-radius:0.5em 2em 0.5em 2em;
}
li { 
  list-style:none;
  padding-top:10px;
  padding-bottom:10px;
  float: left;
  margin: 20px 10px;
}
li.list-services {
  margin: 0;
  padding: 10px;
  float: none;
  font-size: 14pt;
  line-height: 8pt;
  list-style: circle;
}
.button, .button:visited {
  background: #222 url(overlay.png) repeat-x; 
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}
.button:hover  { background-color: #111; color: #fff; }
.button:active  { top: 1px; }
.small.button, .small.button:visited{ font-size: 11px}
.button, .button:visited,
.medium.button, .medium.button:visited {
  font-size: 13px; 
  font-weight: bold; 
  line-height: 1; 
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}
.large.button, .large.button:visited{ 
  font-size: 14px; 
  padding: 8px 14px 9px;
}
.super.button, .super.button:visited {
  font-size: 34px; 
  padding: 8px 14px 9px; 
}
.pink.button, .magenta.button:visited{ background-color: #e22092; }
.pink.button:hover{ background-color: #c81e82; }
.green.button, .green.button:visited{ background-color: #91bd09; }
.green.button:hover{ background-color: #749a02; }
.red.button, .red.button:visited{ background-color: #e62727; }
.red.button:hover{ background-color: #cf2525; }
.orange.button, .orange.button:visited{ background-color: #ff5c00; }
.orange.button:hover{ background-color: #d45500; }
.blue.button, .blue.button:visited{ background-color: #2981e4; }
.blue.button:hover{ background-color: #2575cf; }
.yellow.button, .yellow.button:visited{ background-color: #ffb515; }
.yellow.button:hover{ background-color: #fc9200; }

.map-padd {
  padding: 20px;
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}
#direccion {
  padding: 20px;
  width: 180pt;
  float: right;
  margin-right: 40pt;
    color: #222;
}
#direccion div {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  position: relative;
  font-weight: 600;
}
.facebook {
  float: right;
}
#map_canvas{
  width: 400px;
  height: 229px;
  border: 5px #FFFFFF solid;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  float: left;
}

#copyright {
  text-align: center;
  font-family: sans-serif;
  font-size: 9pt;
  color: #191919;
}

#contact-form {
  float: left;
  width: 450px;
  padding: 10px;
  text-align: center;
    color: #222;

}
#contact-form div {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  position: relative;
  font-weight: 600;
}

.contact-form-input {
  background: none repeat scroll 0 0 #FFFFFF; /*#63A9FF*/
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  color: #63A9FF;
  font: bold 13px/100% Verdana,Tahoma,sans-serif;
  outline: 0 none;
  padding: 9px;
  width: 400px;
}

#form-submit {
  background: none repeat scroll 0 0 #63A9FF;
  border: 1px solid;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  float: right;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #9ABDFD;
  margin-right: 18px;
  margin-top: 20px;
}
.contact-form-input-area {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    color: #63A9FF;
    font: bold 13px/100% Verdana,Tahoma,sans-serif;
    height: 150px;
    outline: 0 none;
    padding: 9px;
    width: 400px;
}

#sf_admin_bar {
  display: none;
}
#sf_admin_container {
  margin: 0 auto;
  width: 90%;
  padding: 30px;
}
#sf_admin_content {
  width: 100%;
}
.sf_admin_list {
  width: 100%;
}
table {
  width: 100%;
}

#gallery-wrapper {
  clear: both;
  margin: 15px auto;
  padding: 30px
}
.album-view-container {
  float: left;
  margin: 10px 7px;
  text-align: center;
  width: 230px;
  height: 200px;
  border: 5px #FFFFFF solid;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  padding: 10px;
}
.album-frame {
  margin: 5px;
  padding: 8px;
}
.cb {
  clear: both;
}
.content-title {
  color: #FFFFFF;
  font-size: 36pt;
  font-weight: bold;
  margin: 20px;
}
.gallery-title { font-size: 34px; margin: 30px}
